@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background-image: url(redmaybach.avif);
	font-family: 'Roboto', sans-serif;
}

html{
	scroll-behavior: smooth;
}

.card{
	width: 350px;
	border-radius: 10px;
	display:flex;
    flex-wrap:wrap;
	margin-bottom: 20px;
}
/*columns*/
.card-img-top{
	width: 100%;
	height: 200px;
	object-fit: cover;
	display:flex;
    flex-wrap:wrap;
	width:100%;
    padding:1rem;
	
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}

.logo img {
	margin-right: 20px;
	opacity: 0;
	animation: glitter 5s infinite;
	height: auto;
	width: 50px;
	margin-right: 120px;
}

/*navbar decoration*/
.navbar {
	background-color: black;
	color: #fff;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	border: 2px solid transparent;
	animation: changeColor 5s infinite;
	position: fixed;  /*Fixed position */
	width: 100%; /* Take the full width of the viewport */
	top: 0; /* Stick to the top */
	z-index: 1000; /* Ensure it appears above other elements */
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	
}

.navbar a:hover {
	color: #fff;
}

.navbar .logo {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navbar .logo img {
	margin-right: 20px;
	opacity: 0;
	animation: glitter 5s infinite;
	height: auto;
	width: 50px;
	margin-right: 120px;
}

.navbar .menu li {
	list-style: none;
}

.navbar .menu li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
}

.navbar .menu li a:hover {
	color: #fff;
}

.navbar .menu {
	display: flex;
	align-items: center;
}

.navbar .menu li {
	list-style: none;
}

/*adding styles for the glowing img logo*/
@keyframes glitter {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}
/*adding styles for the glowing navbar*/
@keyframes changeColor {
	0% {
		background-color: #080808;
	}
	50% {
		background-color: #8b8b91;
	}
	100% {
		background-color: #080808;
	}
}

/*end of navbar decoration*/

/* footer css lines*/

:root {
	--footer-bg-color: #bd0b0b;
	--text-color: #fafbfc;
	--text-gray:fefefe;
	--text-heading-gray: #f4f4f4;
	--text-primary: #fafbfc;
	--button-color:#404652;
	--button-boder:#6B707c;
}

/* footer reset*/
*, *::after, *::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*footer containers*/
.footer {
	position: absolute;
	bottom: 0px;
	background-color: var(--footer-bg-color);
	min-width: 300px;
	width: 100vw;
	bottom: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer-wrapper{
	display: flex;
	background: var(--footer-bg-color);
	flex-direction: column;
	max-width: 1320px;
	padding: 16px;
}

/*? top section */
.footer-top {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	padding: 16px 0px;
	justify-content: space-between;
}

.footer-line {
	display: block;
	width: 100%;
	height: 8px;
}

/* footer subscribe */
.footer-subscribe {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.footer-subscribe > input {
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid var(--button-boder);
	outline: none;
	color: var(--text-color);
	min-height: 36px;
	background-color: var(--footer-bg-color);
	font-size: 1.2rem;
	flex: 1 0 120px;
}

.footer-subscribe >
input::placeholder {
	color: var(--text-color);
}

.footer-subscribe > button {
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid var(--button-boder);
	outline: none;
	color: white;
	min-width: 120px;
	min-height: 36px;
	background-color: var(--button-colorcolor);
	font-size: 1.2rem;
	flex: 1 0 80px;
	white-space: nowrap;
}

/* footer column */
.footer-columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	flex: 2 0 140px;
	width: 100%;
	gap: 16px;
	padding: 24px 8px 16px 8px;
	margin:0 auto;
}

.footer-columns ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

.footer-columns ul a {
	color: var(--text-color);
	text-decoration: none;
}

.footer-columns ul a:hover {
	text-decoration: underline;
}

.footer-columns ul li {
	margin-bottom: 16px;
}

.footer-columns h3 {
	color: var(--text-primary);
	font-size: 1.125rem;
	margin-top: 0px;
	margin-bottom: 25px;
}

.footer-centering {
	margin: 0 auto;
}

.footer-columns > section {
	min-width: 150px;
}