@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background-image: url(Hero.jpg);
	font-family: 'Roboto', sans-serif;
}
.card{
	width: 250px;
	border-radius: 10px;
	display:flex;
    flex-wrap:wrap;
}
/*columns*/
.card-img-top{
	width: 100%;
	height: 150px;
	object-fit: cover;
	display:flex;
    flex-wrap:wrap;
	width:100%;
    padding:1rem;
	
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}

.logo img {
	margin-right: 20px;
	opacity: 0;
	animation: glitter 5s infinite;
	height: auto;
	width: 50px;
	margin-right: 1200px;
}


.navbar{
	background-color: #791818;
	text-decoration: #FFCBD2;
	padding: 0%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	
}