/* Reset some default styles */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

/* Apply a background color and set text colors */
body {
  background-image:url(Hero.jpg);
  font-family: Arial, sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
}

h1 {
  font-size: 36px;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  min-width: 800px;
  text-decoration-color: silver;
  background: transparent;
  margin: 0 auto;
  padding: 0px;
}

/* Style links */
a {
  text-decoration: silver;
  color: #6f058f;
  font-weight: bold;
}

a:hover {
  color: silver;
}

/* Style the main content sections */
section {
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;

}

/* STYLE FOR THE FOOTER */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}