body{
    padding: 0;
    margin: 0;
    background-image: url('Hero.jpg');
    
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.products .row {
  text-align: center;
  position: relative;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 8px;
}

.products .row img {
  width: 100%;
  height: auto;
  transition: all .40s;
}

.products .row .info {
  font-size: 24px;
  color: #0a0e13;
}

.product .product-text {
  margin: 5px;
  color: #005293;
  font-size: large;
  text-align: center;
}

/* STYLE FOR THE NAV BAR */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  border: 2px solid #333;
}

.container {
  max-width: 1200px;
  display: flex;
  align-items: right;
  /* move items to the right side of the page */
  padding-left: 1100px;
  /* Add padding to the left side of the nav bar */
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin: 0 20px;
}

.nav-item:hover {
  color: #005293;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin: 0 20px;
    transition: color 0.3s ease;
    padding-right: 50px;
    
}

.nav-item:hover {
    color: black;
}

/* STYLE FOR THE FOOTER */

footer {
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin-top: 30px;
  border: 2px solid #333;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

